<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .title {
            text-align: center;
            color: #3897f0;
            font-family: 'URW Chancery L', cursive;
            font-size: 14px;
            font-style: italic;
            color: #ffffff;
        }
    </style>
</head>
<body style="background-color: whitesmoke;">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav"  style="margin-right:auto;">
            <li class="nav-item active">
                <!-- A inici -->
                <a class="nav-link title" href="#">MOMENTGRAM</a>
            </li>
            <li class="nav-item">
                <!-- A Publicar foto -->
                <a class="nav-link" href="#">Publish post</a>
            </li>
            <li class="nav-item">
                <!-- A See post -->
                <a class="nav-link" href="#">See post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <!-- Falta posar nom -->
                <p class="nav-link" style="margin-bottom:0px">Hi {{ user.get_username }}</p>
            </li>
            <li class="nav-item active">
                <!-- Logout -->
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="row" style="padding: 10px 150px">
        <div class="col-8" style="background-color: white; padding: 10px;">
            <img id="image" src="https://st3.depositphotos.com/1000438/13031/i/950/depositphotos_130319456-stock-photo-two-young-girls-taking-selfie.jpg" class="img-thumbnail" alt="Cinque Terre">
        </div>
        <div class="col-4" style="background-color: white; padding: 20px">
            <p id="userName" style="font-size: 14px; font-weight: bold">{{ username }}</p>
            <p id="coment" style="font-size: 12px">{{ description }}</p>
            <p id="url" style="font-size: 12px">{{ image }}</p>
            <p id="date" style="font-size: 10px">{{ date }}</p>
        </div>
    </div>
</body>
</html>